<div class="main-menu-container">
  <div class="settings-container">

    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>settings</mat-icon>
    </button>

  </div>
  <div class="title-container">

  </div>
  <div class="options-main-menu-container">
    <div class="main-buttons-container">

      <button class="main-button" [routerLink]="['/type-game-menu']">
        Nueva partida
      </button>

    </div>
    <div class="main-buttons-container">

      <button class="main-button">
        Continuar partida
      </button>

    </div>
    <div class="secondary-buttons-container">
      <button class="secondary-button">
        Jugadores
      </button>
      <button class="secondary-button">
        Historial
      </button>
      <button class="secondary-button">
        Acerca De
      </button>
      <button class="secondary-button">
        Crear Contenido
      </button>
    </div>
  </div>
</div>
